<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" id="menuIcon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
  </button>
  <a mat-button routerLink="/" routerLinkActive="active" class="top-menu-logo"><img class="logo-colmetalicas" src="assets/img/logo/ColMetalicas-blanco.webp" alt="Logo Industrias ColMetálicas"></a>
  <a mat-button routerLink="/" routerLinkActive="active" class="top-menu-item"><mat-icon>home</mat-icon>Home</a>
  <a mat-button routerLink="/productos" routerLinkActive="active" class="top-menu-item"><mat-icon>inventory_2</mat-icon>Productos</a>
  <a mat-button routerLink="/servicios" routerLinkActive="active" class="top-menu-item"><mat-icon>linked_services</mat-icon>Servicios</a>
  <a mat-button routerLink="/contacto" routerLinkActive="active" class="top-menu-item"><mat-icon>person_add</mat-icon>Contacto</a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="100" mode="side">
      <div class="side-nav-items">
          <div>
              <a (click)="sidenav.close()" mat-button routerLink="/" routerLinkActive="active"
                  class="side-menu-item"><mat-icon>home</mat-icon>Home</a>
          </div>
          <div>
              <a (click)="sidenav.close()" mat-button routerLink="/productos" routerLinkActive="active"
                  class="side-menu-item"><mat-icon>inventory_2</mat-icon>Productos</a>
          </div>
          <div>
            <a (click)="sidenav.close()" mat-button routerLink="/servicios" routerLinkActive="active"
                class="side-menu-item"><mat-icon>linked_services</mat-icon>Servicios</a>
          </div>
          <div>
              <a (click)="sidenav.close()" mat-button routerLink="/contacto" routerLinkActive="active"
                  class="side-menu-item"><mat-icon>person_add</mat-icon>Contacto</a>
          </div>
      </div>

  </mat-sidenav>

  <mat-sidenav-content>
      <div class="main-content">
          <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>

</mat-sidenav-container>
