<swiper-container
  navigation="false"
  pagination="true"
  pagination-clickable="true"
  space-between="30"
  centered-slides="true"
  autoplay-delay="5000"
  autoplay-disable-on-interaction="false"
  effect="fade"
  centeredSlides="true"
  slidesPerView="auto"
  >
  <swiper-slide>
    <img src="assets/img/banner/2.webp" alt="Industrias ColMetálicas 2">
  </swiper-slide>
  <swiper-slide>
    <img src="assets/img/banner/4.webp" alt="Industrias ColMetálicas 4">
  </swiper-slide>
  <swiper-slide>
    <img src="assets/img/banner/8.webp" alt="Industrias ColMetálicas 8">
  </swiper-slide>
</swiper-container>
