<div class="grid-container">
  <section>
    <div class="container-top">
      <div class="top-text">
        <h1 class="mat-h1 tittle-home">{{titleTop}}</h1>
        <p class="text-home">{{text1Top}}</p>
        <p class="text-home">{{text2Top}}</p>
      </div>
      <div class="top-image">
        <img src="/assets/img/page/2.webp" alt="Industrias ColMetálicas 2" class="img-top">
      </div>
    </div>
    <div class="container-bg">
      <div class="container-middle">
        <div class="middle-image">
          <swiper-container
          navigation="false"
          pagination="true"
          pagination-clickable="true"
          space-between="30"
          centered-slides="true"
          autoplay-delay="2500"
          autoplay-disable-on-interaction="false"
          effect="fade"
          centeredSlides="true"
          slidesPerView="auto"
          >
          <swiper-slide>
            <img src="/assets/img/page/7.webp" alt="Industrias ColMetálicas 7" class="img-top" >
          </swiper-slide>
          <swiper-slide>
            <img src="/assets/img/page/9.webp" alt="Industrias ColMetálicas 9" class="img-top">
          </swiper-slide>
          <swiper-slide>
            <img src="/assets/img/page/13.webp" alt="Industrias ColMetálicas 13" class="img-top">
          </swiper-slide>
          <swiper-slide>
            <img src="/assets/img/page/16.webp" alt="Industrias ColMetálicas 16" class="img-top">
          </swiper-slide>
          <swiper-slide>
            <img src="/assets/img/page/17.webp" alt="Industrias ColMetálicas 17" class="img-top">
          </swiper-slide>
          <swiper-slide>
            <img src="/assets/img/page/19.webp" alt="Industrias ColMetálicas 19" class="img-top">
          </swiper-slide>
          <swiper-slide>
            <img src="/assets/img/page/22.webp" alt="Industrias ColMetálicas 22" class="img-top">
          </swiper-slide>
          <swiper-slide>
            <img src="/assets/img/page/25.webp" alt="Industrias ColMetálicas 25" class="img-top">
          </swiper-slide>
          <swiper-slide>
            <img src="/assets/img/page/26.webp" alt="Industrias ColMetálicas 26" class="img-top">
          </swiper-slide>
          </swiper-container>
        </div>
        <div class="middle-text">
          <h2 class="mat-h2 tittle-home">{{tittleMiddle}}</h2>
          <p class="text-home"><mat-icon class="middle-icon">check</mat-icon>{{text1Middle}}</p>
          <p class="text-home"><mat-icon class="middle-icon">check</mat-icon>{{text2Middle}}</p>
        </div>
      </div>
    </div>
  </section>
  <app-whatsapp-button></app-whatsapp-button>
</div>
